<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>08:00 AM</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/01-run-quit/index.html">Running and Quitting</a></td>        <!-- content -->
        <td>How can I run Python programs?</td>        <!-- content -->
        <td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>08:15 AM</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/02-variables/index.html">Variables and Assignment</a></td>        <!-- content -->
        <td>How can I store data in programs?</td>        <!-- content -->
        <td>
      </tr>
        <tr>               <!-- row 2   -->
        <td>08:35 AM</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/03-types-conversion/index.html">Data Types and Type Conversion</a></td>        <!-- content -->
        <td>What kinds of data do programs store?</td>        <!-- content -->
        <td>How can I convert one type to another?</td>
        <td>
      </tr>
        <tr>               <!-- row 2   -->
        <td>08:55 AM</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/04-built-in/index.html">Built-in Functions and Help</a></td>        <!-- content -->
        <td>How can I use built-in functions?</td>        <!-- content -->
        <td>How can I find out what they do?</td>
        <td>What kind of errors can occur in programs?</td>
        <td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>9:30</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/05-coffee/index.html">Morning Coffee</td>
        <td>Break</td><!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>4:30 PM</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/index.html">Plotting and Programming in Python - Part 2</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  
