<h3>June 16, 2022 8:00 - 3:30</h3>
<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Skip</td>
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>08:00 AM</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/01-run-quit/index.html">Running and Quitting</a></td>        <!-- content -->
        <td>How can I run Python programs?</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>08:15 AM</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/02-variables/index.html">Variables and Assignment</a></td>        <!-- content -->
        <td>How can I store data in programs?</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>08:35 AM</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/03-types-conversion/index.html">Data Types and Type Conversion</a></td>        <!-- content -->
        <td>What kinds of data do programs store?</td>        <!-- content -->
        <td>How can I convert one type to another?</td>
      </tr>
      <tr>               <!-- row 5   -->
        <td>08:55 AM</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/04-built-in/index.html">Built-in Functions and Help</a></td>        <!-- content -->
        <td>How can I use built-in functions?</td>        <!-- content -->
        <td>How can I find out what they do?</td>
        <td>What kind of errors can occur in programs?</td>
      </tr>
      <tr>               <!-- row 6   -->
        <td>9:30</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/05-coffee/index.html">Morning Coffee</td>
        <td>Break</td>          <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>9:35</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/06-libraries/index.html">Libraries</td>
        <td>How can I use software that other people have written?</td>           <!-- content -->
        <td>How can I find out what that software does?</td>
      </tr>
      <tr>               <!-- row 8   -->
        <td>9:55</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/07-reading-tabular/index.html">Reading Tabular Data into DataFrames</td>
        <td>How can I read tabular data?</td>         <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>10:15</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/08-data-frames/index.html">Pandas DataFrames</td>
        <td>How can I do statistical analysis of tabular data?</td>             <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td>10:45</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/09-plotting/index.html">Plotting</td>
        <td>How can I plot my data?</td>          <!-- content -->
        <td>How can I save my plot for publishing?</td>
      </tr>
      <tr>               <!-- row 11   -->
        <td>11:15</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/10-lunch/index.html">Lunch</td>
        <td>Break</td>            <!-- content -->
      </tr>
      <tr>               <!-- row 12   -->
        <td>12:00></td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/11-lists/index.html">Lists</td>
        <td>How can I store multiple values?</td>           <!-- content -->
      </tr>
      <tr>               <!-- row 13   -->
        <td>12:20</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/12-for-loops/index.html">For Loops</td>
        <td>How can I make a program do many things?</td>         <!-- content -->
      </tr>
      <tr>               <!-- row 14   -->
        <td>12:45</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/13-conditionals/index.html">Conditionals</td>
        <td>How can programs do different things for different data?</td>           <!-- content -->
      </tr>
      <tr>               <!-- row 15   -->
        <td>1:10</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/14-looping-data-sets/index.html">Looping Over Data Sets</td>
        <td>How can I process many data sets with a single command?</td>          <!-- content -->
      </tr>
      <tr>               <!-- row 16   -->
        <td>1:25</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/15-coffee/index.html">Afternoon Coffee</td>
        <td>Break</td><!-- content -->
      </tr>
      <tr>               <!-- row 17   -->
        <td>1:40</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/16-writing-functions/index.html">Writing Functions</td>
        <td>How can I create my own functions?</td><!-- content -->
      </tr>
      <tr>               <!-- row 18   -->
        <td>2:05</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/17-scope/index.html">Variable Scope</td>
        <td>How do function calls actually work?</td><!-- content -->
        <td>How can I determine where errors occurred?</td>
      </tr>
      <tr>               <!-- row 19   -->
        <td>2:25</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/18-style/index.html">Programming Style</td>
        <td>How can I make my programs more readable?</td><!-- content -->
        <td>How do most programmers format their code?</td>
        <td>How can programs check their own operation?</td>
      </tr>
      <tr>               <!-- row 20   -->
        <td>2:55</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/19-wrap/index.html">Wrap-Up</td>
        <td>What have we learned?</td><!-- content -->
        <td>What else is out there and where do I find it?</td>
      </tr>
      <tr>               <!-- row 21   -->
        <td>3:15</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/20-feedback/index.html">Feedback</td>
        <td>How did the class go?></td><!-- content -->
      </tr>
      <tr>               <!-- row 22   -->
        <td>3:30</td>        <!-- time    -->
        <td>Finish</td>
        <td></td><!-- content -->
      </tr>
    </table>
  </div>
</div>
